<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<app-navbar></app-navbar>
  
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hola People!</h1>
        <p class="lead">This is a simple website which is under construction .Built for learning purpose<hr class="my-4">
      </div>
  
</div>
<router-outlet></router-outlet>

</body>
</html>

